body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;

    #root {
        width: 100vw;
        height: 100vh;
        overflow: auto;
        position: relative;
        @media only screen and (min-width: 768px) {
            width: 300px;
            height: 100%;
            max-height: 500px;
        }

        .pokedex_container {
            height: 100%;
            width: 100%;
        }

        .pokemon_list_container {
            height: auto;
            min-height: 100%;
            width: 100%;
            position: relative;
            top: -53px;
            @include transition(0.5s);

            &.slide_down {
                top: 0;
            }

            .search_pokemon {
                background: #f05759;
                position: sticky;
                top: 0;
                left: 0;
                @include transition(0.5s);
                &.hidden {
                    top: -53px;
                }

                form {
                    width: 100%;

                    input {
                        width: 100%;
                        padding: 10px 15px;
                        font-size: 16px;
                        height: 53px;
                    }
                }

                .search_pokemon_inner {
                    display: flex;
                    align-items: center;
                    padding: 5px 0;

                    .pokeball_icon {
                        flex-basis: 17%;
                        max-width: 17%;
                        border-right: 1px solid white;
                        align-self: stretch;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            max-width: 30px;
                        }
                    }

                    h1 {
                        flex: 1;
                        font-size: 18px;
                        color: white;
                        text-align: center;
                        font-weight: 700;
                    }

                    .search_icon {
                        flex-basis: 17%;
                        max-width: 17%;
                        height: 40px;
                        color: white;
                        text-align: center;
                        line-height: 30px;
                        font-size: 20px;
                        font-weight: bold;
                        background-image: url("../img/icon/search.png");
                        background-size: 25px;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                        border-left: 1px solid white;

                    }
                }
            }

            .pokemon_list {
                li {
                    border-bottom: 1px solid #adacac;

                    a {
                        height: 55px;
                        width: 100%;
                        font-size: 16px;
                        // background: rgba(255,0,0, .7);
                        text-decoration: none;
                        color: #484747;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        padding: 7px 0px;
                        span {
                            flex-basis: 17%;
                            max-width: 17%;
                            border-right: 1px solid #adacac;
                            text-align: right;
                            padding-right: 10px;
                            margin-right: 10px;
                            align-self: stretch;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}
