body.page-type {

    .damage_relations{
        .type{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            h2{
                flex-basis: 100%;
                max-width: 100%;
                font-size: 16px;
                text-transform: uppercase;
                padding: 20px 0;
                text-align: center;
                border-top: 1px solid $grey-border;
            }
            p{
                display: inline-block;
                font-size: 14px;
                color: white;
                text-transform: uppercase;
                padding: 10px 0px;
                text-align: center;
                border-radius: 21px;
                min-width: 95px;
                margin-bottom: 15px;
                &.normal{
                    background: #A8A77A;
                }
                &.fire{
                    background: #EE8130;
                }
                &.electric{
                    background: #F7D02C;
                }
                &.grass{
                    background: #7AC74C;
                }
                &.ice{
                    background: #96D9D6;
                }
                &.fighting{
                    background: #C22E28;
                }
                &.poison{
                    background: #A33EA1;
                }
                &.ground{
                    background: #E2BF65;
                }
                &.flying{
                    background: #A98FF3;
                }
                &.psychic{
                    background: #F95587;
                }
                &.bug{
                    background: #A6B91A;
                }
                &.rock{
                    background: #B6A136;
                }
                &.ghost{
                    background: #735797;
                }
                &.dragon{
                    background: #6F35FC;
                }
                &.dark{
                    background: #705746;
                }
                &.steel{
                    background: #B7B7CE;
                }
                &.fairy{
                    background: #D685AD;
                }
                &.water{
                    background: #6890f0;
                }
            }
        }
    }
    .pokemon-list-type{
        h2{
            flex-basis: 100%;
            max-width: 100%;
            font-size: 16px;
            text-transform: uppercase;
            padding: 20px 0;
            text-align: center;
            border-top: 1px solid $grey-border;
        }
        ul {
            li {
                border-bottom: 1px solid #adacac;

                a {
                    height: 55px;
                    width: 100%;
                    font-size: 16px;
                    text-decoration: none;
                    color: #484747;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    padding: 7px 0px;
                    span {
                        flex-basis: 17%;
                        max-width: 17%;
                        border-right: 1px solid #adacac;
                        text-align: right;
                        padding-right: 10px;
                        margin-right: 10px;
                        align-self: stretch;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}
