body.page-details {
    .details_pokemon {
        padding-bottom: 50px;
        .details_pokemon_head {
            background: #f05759;
            display: flex;
            align-items: center;
            padding: 10px 0;

            a {
                align-self: stretch;
                font-size: 30px;
                font-weight: bold;
                color: white;
                text-decoration: none;
                flex-basis: 17%;
                max-width: 17%;
                border-right: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 20px;
                }
            }

            h2 {
                flex: 1;
                font-size: 20px;
                color: white;
                font-weight: bold;
                padding: 10px 30px;
            }
        }

        .details_pokemon_data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            margin: 0 15px;
            border-top: 1px solid $grey-border;
            .item {
                flex-basis: 33%;
                max-width: 33%;
                text-align: center;
                border-right: 1px solid $grey-border;
                padding: 10px 0;
                &:last-of-type{
                    border: 0;
                }

                h2 {
                    font-size: 18px;
                    font-weight: bold;
                    padding-bottom: 5px;
                    color: $grey;
                }

                p {
                    font-size: 12px;
                    font-weight: light;
                    text-transform: uppercase;
                    color: $grey;
                }
            }
        }
        .sprites{
            margin-top: 30px;
            .normal ,.shiny{
                display: flex;
                justify-content: space-around;
                align-items: center;
                img{
                    max-width: 96px;
                }
            }
            .normal{
                margin-bottom: 10px;
            }
            button{
                background: $red;
                color: white;
                border: 0;
                padding: 8px 14px;
                border-radius: 21px;
                display: block;
                margin: 0 auto;
                font-size: 12px;
                text-transform: uppercase;
                &:focus{
                    outline: 0;
                }

            }
            .shiny{
                height: 0px;
                pointer-events: none;
                overflow: hidden;
                @include transition(.3s);
                &.show{
                    height: 96px;
                }
            }
        }

        .details_pokemon_type{
            margin: 10px 0 0 0;
            padding: 10px 0 15px 0;
            h2{
                font-size: 16px;
                padding: 10px 10px 10px 0px;
                margin: 0 15px;
                border-top: 1px solid $grey-border;
            }
            .type{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                p{
                    display: inline-block;
                    font-size: 14px;
                    color: white;
                    text-transform: uppercase;
                    padding: 10px 0px;
                    text-align: center;
                    border-radius: 21px;
                    min-width: 95px;
                    &.normal{
                        background: #A8A77A;
                    }
                    &.fire{
                        background: #EE8130;
                    }
                    &.electric{
                        background: #F7D02C;
                    }
                    &.grass{
                        background: #7AC74C;
                    }
                    &.ice{
                        background: #96D9D6;
                    }
                    &.fighting{
                        background: #C22E28;
                    }
                    &.poison{
                        background: #A33EA1;
                    }
                    &.ground{
                        background: #E2BF65;
                    }
                    &.flying{
                        background: #A98FF3;
                    }
                    &.psychic{
                        background: #F95587;
                    }
                    &.bug{
                        background: #A6B91A;
                    }
                    &.rock{
                        background: #B6A136;
                    }
                    &.ghost{
                        background: #735797;
                    }
                    &.dragon{
                        background: #6F35FC;
                    }
                    &.dark{
                        background: #705746;
                    }
                    &.steel{
                        background: #B7B7CE;
                    }
                    &.fairy{
                        background: #D685AD;
                    }
                    &.water{
                        background: #6890f0;
                    }
                }
            }
        }
        .section_button{
            border-top: 1px solid $grey-border;
            margin: 0 15px;
            .section_button_buttons{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
                h2{
                    padding: 8px 15px;
                    font-size: 12px;
                    border-right: 1px solid $grey-border;
                    border-bottom: 1px solid $grey-border;
                    border-left: 1px solid $grey-border;
                    @include transition(.2s);
                    cursor: pointer;
                    background: white;
                    &.active{
                        background: $red;
                        border-color: $red;
                        color: white;
                    }
                    @media only screen and (min-width: 768px){
                        &:hover{
                            background: $red;
                            border-color: $red;
                            color: white;
                        }
                    }
                    &:first-of-type{
                        border-radius: 0 0 0 26px;
                        border-right: 0;
                        text-align: right;
                        padding: 8px 15px 8px 25px;
                    }
                    &:nth-of-type(2){
                        border-radius: 0;
                        border-right: 0;
                    }
                    &:last-of-type{
                        border-radius: 0 0 26px 0;
                        text-align: left;
                        padding: 8px 25px 8px 15px;
                    }

                }
            }
            .item{
                width: 100%;
                font-size: 14px;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                overflow: hidden;
                display: none;
                opacity: 0;
                @include transition(.5s);
                &.show{
                    display: flex;
                    opacity: 1
                }
                p{
                    flex-basis: 50%;
                    max-width: 50%;
                    border-bottom: 1px solid $grey-border;
                    padding: 10px 15px;
                    &:nth-of-type(2n + 2){
                        border-left: 1px solid $grey-border;
                    }
                }
                &.stats{
                    p{
                        text-align: center;
                        strong{
                            font-weight: bold;
                            font-size: 18px;
                            padding-bottom: 5px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
